<div id='header' class='centered-div'>

  <div id='title' class='heading-text'>
    <a>Shane Sims</a>
  </div>

  <div id='subtitle' class='heading-text'>
    <a>Software Engineer</a>
  </div>

</div>

<div class='divider'>
</div>


<div id='personal' class='centered-div'>
  <div id='photo'>
    <img src='me.jpg'>
  </div>
  <div id='info'>
    <a>Lorem ipsum dolor sit amet, cu erant consul euripidis duo. Ex quot simul lobortis mei, usu facilis euripidis persecuti ad, noster invenire molestiae te eam. Nam inermis eligendi definitionem ex, nam ea oblique principes. Doming menandri consulatu id vel, erat quodsi eam in. Nisl epicurei sit ea, labitur abhorreant ut vim. Et laudem possit graeco mel.

Nec facete cetero invidunt ex. Vim affert eripuit placerat te, quod dico aliquando eum ne. Cum ad facilis scripserit, quo electram postulant percipitur ad. Ad deleniti dignissim vix. Ne est utroque dissentiet, in harum omnium utamur sea, his eu sint audire.

Quas consequat neglegentur cu pri. Et pro everti cetero elaboraret, erant nemore no qui, cum cu nisl deleniti adolescens. Phaedrum periculis molestiae mea et, nam ad utamur indoctum, mandamus repudiandae est ea. Sed ceteros interesset accommodare ne, vix abhorreant incorrupte at. At his accusam splendide temporibus, solum adipisci ex duo.</a>
  </div>
</div>

<div class='divider'>
</div>

<div id='desc' class='centered-div'>
</div>





