<div id='header' class='centered-div'>

  <div id='title' class='heading-text'>
    <a>Shane Sims</a>
  </div>

  <div id='subtitle' class='heading-text'>
    <a>Software Engineer</a>
  </div>

</div>

<div class='divider'>
</div>


<div id='personal' class='centered-div'>
  <div id='photo'>
  </div>
  <div id='info'>
  </div>
</div>

<div class='divider'>
</div>

<div id='desc' class='centered-div'>
</div>





