<div id='header' class='centered-div'>

  <div id='title' class='heading-text'>
    <a>Shane Sims</a>
  </div>

  <div id='subtitle' class='heading-text'>
    <a>Software Engineer</a>
  </div>

</div>

<div class='divider'>
</div>


<div id='personal' class='centered-div'>
  <div id='photo'>
    <img src='me.jpg'>
  </div>
  <div id='info' class='body-text'>
    <%= render :partial => 'personal_info', :layout => false %>
  </div>
</div>

<div class='divider'>
</div>

<div id='desc' class='centered-div'>
  <iframe src="cv.pdf" style="width:800px; height:1030px;" frameborder="0"></iframe>
</div>





