<div id='page-header' class='centered-div centered-text'>

  <div id='page-title' class='large header-text'>
    <a>Shane Sims</a>
  </div>

  <div id='page-subtitle' class='medium header-text'>
    <a>Software Engineer</a>
  </div>

</div>

<div class='page-divider'>
</div>

<div id='personal' class='centered-div'>
  <div id='photo-mobile'>
    <img src='me.jpg'>
  </div>
  <div id='info-mobile' class='body-text'>
    <div id='desc'>
      <a>I am a 23 year old software engineer with 7 months experience in industry. At university I crafted a broad skillset, but have yet to put many of those tools to use. I am currently searching for a position in the scientific/technical industry where I can contribute my skillset to something awesome.</a>
    </div>
    <div id='contact'>
      <div id='contact-header' class='small header-text bold'>
        <a>Contact</a>
      </div>
      <div class='div-divider'>
      </div>
      <div id='contact-content'>
        <div id='email'>
          <img src='email.jpg'>
        </div>
        <div id='phone'>
          <img src='phone.jpg'>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='education'>
  <div id='education-header' class='section-header medium header-text'>
    <a>Education</a>
  </div>

  <div class='page-divider'>
  </div>

  <div id='education-content' class='body-text'>
    <div id='university'>
      <a>University of California, Santa Cruz</a>
      <a>B.S, Computer Science</a>
      <a>Minor, Physics</a>
    </div>
  </div>

</div>

<div id='skills'>
  <div id='skills-header' class='section-header medium header-text'>
    <a>Technical Skills</a>
  </div>

  <div class='page-divider'>
  </div>

  <div id='skills-content-mobile' class='body-text'>
    <div id='skill0' class='skills'>
      <div id='skill0-header' class='bold skills-header'>
        <a>Algorithms</a>
      </div>
      <div id='skill0-content'>
        <a>Formally educated in algorithm analysis and implementation. Well versed in topics such as assymptotic growth rates, proof techniques, and dynamic programming. Knowledgable of different algorithm types including divide and conquer, greedy, and max-flow min-cut.</a>
      </div>
    </div>
    <div id='skill1' class='skills'>
      <div id='skill1-header' class='bold skills-header'>
        <a>Databases</a>
      </div>
      <div id='skill1-content'>
        <a>Studied methodology and design of database query languages at university. Applied that knowledge at a chemical engineering firm by managing their application's databases (Microsoft Access - SQL based). Handled data entry / access and schema modifications both manually and programmatically. </a>
      </div>
    </div>
    <div id='skill2' class='skills'>
      <div id='skill2-header' class='bold skills-header'>
        <a>Programming Languages</a>
      </div>
      <div id='skill2-content'>
       <a>C, Java, C++, C#, VB, VBA</a>
       <a>Ruby, Python</a>
       <a>HTML, CSS, JavaScript</a>
       <a>Assembly, SQL</a>
       <a>Haskell</a>
      </div>
    </div>
    <div id='skill3' class='skills'>
      <div id='skill3-header' class='bold skills-header'>
        <a>Full Stack Web Development</a>
      </div>
      <div id='skill3-content'>
        <a>Experienced with all technical aspects of web development including UI, databases, security, and server configuration. Educated in the model-view-controller (MVC) software design paradigm. Experienced with Ruby on Rails, which is an MVC framework.</a>
      </div>
    </div>
    <div id='skill4' class='skills'>
      <div id='skill4-header' class='bold skills-header'>
        <a>Programming Best-Practice</a>
      </div>
      <div id='skill4-content'>
        <a>High standard of 'best-practice' programming rules. Just because code works, does not mean it is acceptable. Code must be portable, robust, maintainable, well commented, and readable.</a>
      </div>
    </div>
    <div id='skill5' class='skills'>
      <div id='skill5-header' class='bold skills-header'>
        <a>Operating Systems and Code Repos</a>
      </div>
      <div id='skill5-content'>
        <a>Advanced knowledge of operating system's principles and design. Proficient with the major implementations: Unix, Windows, Mac OS. </a>
        <a>Experienced with shared code bases and remote repositories. Skilled with git, ankhsvn, and tortoise. </a>
        <a></a>
      </div>
    </div>
  </div>
</div>

<div id='work-experience'>

  <div id='work-header' class='section-header medium header-text'>
    <a>Work Experience</a>
  </div>

  <div class='page-divider'>
  </div>

  <div id='work-content' class='body-text'>
    <div id='work0' class='work'>
      <div id='work0-header' class='work-header header-text'>
        <a id='work0-dates'>July 2014 - Feb. 2015</a>
        <a id='work0-company' class='bold work-company'>Advanced Industrial Modeling</a>
        <a id='work0-title'>Software Engineer</a>
      </div>
      <div id='work0-content' class='body-text'>
        <a>Programmer at consulting company which optimizes chemical and oil refineries.</a>
        <a>&middot Added features and fixed bugs in existing .NET application which is the company’s main product.</a>
        <a>&middot Lead engineer of a VSTO Excel Addin which extends the main application.</a>
        <a>&middot Updated development tools used by company’s engineers.</a>
        <a>&middot Learned and coded in Visual Basic, VBA, and the .NET framework.</a>
        <a>&middot Applied existing knowledge of C#, HTML, CSS, and JavaScript.</a>
      </div>
    </div>
    <div id='work1' class='work'>
      <div id='work1-header' class='work-header header-text'>
        <a id='work1-dates'>Sept. 2011 - June 2013</a>
        <a id='work1-company' class='bold work-company'>UC Santa Cruz - Jack Baskin School of Engineering</a>
        <a id='work1-title'>Reader / Tutor</a>
      </div>
      <div id='work1-content' class='body-text'>
        <a>Section leader for foundational computer science classes.</a>
        <a>&middot Lectured to 20-30 students in computer labs.</a>
        <a>&middot Tutored students one-on-one.</a>
        <a>&middot Graded programming assignments and exams.</a>
        <a>&middot Maintained course forums.</a>
        <a>&middot Proctored exams.</a>
      </div>
    </div>
  </div>

</div>

<!--
<div id='desc' class='centered-div'>
  <img src="cv.jpg">
</div>
-->

