// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

body {
  background-color: #FFFFFF;

  margin-top: 48px;
}

a {
  display: block;
}

div {
  overflow: hidden;
}

  /* structure classes */
 
.span {
  display: inline-block;
  vertical-align: top;

  margin: 8px auto;
  padding: 0 16px;
}

.section-header {
  margin: 15px auto 2px 5%;
  text-align: left;
}

  /* divider styles */
#page-header {
  margin-bottom: 24px;
}

#personal {
   margin: 12px auto;
   text-align: center;
}

#personal > #photo {
  display: inline-block;
  width: 203px; // same as contained photo.

  margin: 8px auto;
  padding: 0 16px;

  //min-width: 220px; 
  //width: 40%;
}

#personal > #photo-mobile {
  width: 203px;
  
  margin: 8px auto;
  padding: 0 16px;
}

#personal > #info {
  display: inline-block;

  vertical-align: top;
  max-width: 400px;

  margin: 8px auto;
  padding: 0 16px;

  text-align: left;
 
  //width: 60%;
}

#personal > #info-mobile {
  margin: 8px auto;
  padding: 0 16px;

  max-width: 650px;

  text-align: left; 
}

#contact {
  margin-top: 10px;
}

#contact-content {
  margin-top: 10px;
}

.skills {
  margin-top: 10px;
 
  width: 270px;
  text-align: left;
}

.skills-mobile {
  margin-top: 10px;

  width: 90%;

  text-align: left;
}

.skills-header {
  margin-bottom: 4px;
}

#education-content, #work-content {
  margin: 12px 10%;
  width: 90%;

  font-size: 11pt;
}

#university > a {
  margin: 3px auto;
}

#skills {
  text-align: center;
}

#skills-mobile {
  width: 90%;
  text-align: center;
}

#skills-content {
  display: inline-block;
  width: 90%;
  margin: 12px auto;
}

#skills-content-mobile {
  margin: 12px auto;
 
  font-size: 11pt;
}

.work {
   margin-bottom: 16px;
}

.work-mobile {
  margin-bottom: 16px;

  width: 800px;
}

.work-header {
  margin-bottom: 6px;
}

.work-header > a {
  margin: 2px auto;
}

.work-company {
  font-size: 12pt;
}

/*
#technical {
  margin: 12px auto;
}

#technical > #skills {
  display: inline-block;
  vertical-align: top;

  margin: 8px auto;
  padding: 0 16px;
}

#skills-content > a {
  display: block;
}

#technical > #languages {
  display: inline-block;
  vertical-align: top;

  margin: 8px auto;
  padding: 0 16px;
}

#lang-content > a {
  display: block;
}
*/

/* ----- */
