// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

body {
  background-color: #FFFFFF;
  text-align: center;

  margin-top: 48px;
}

  /* structure classes */

.centered-div {
  display: table;
  margin: 0 auto;
}

 
.divider {
  height: 1px;
  width: 90%;
  background-color: black;

  display: table;
  margin: 0 auto;

} 

  /* text styles */

#title {
  font-size: 36pt;
}

#subtitle {
  font-size: 18pt;
}

  /* divider styles */
#header {
  margin-bottom: 24px;
}

#personal {
   margin: 12px auto;
}

#personal > #photo {
  display: inline-block;
  width: 203px; // same as contained photo.

  margin: 8px auto;
  padding: 0 16px;

  //min-width: 220px; 
  //width: 40%;
}

#personal > #info {
  display: inline-block;
  vertical-align: top;
  width: 400px;

  margin: 8px auto;
  padding: 0 16px;

  //width: 60%;
}

#desc {
  background-color: #A10000;
  margin: 16px auto;
}







/* ----- */
